# Sensitive Earth Engine key (inside gee-server)
gee-server/greenmap-tileserver-58f62e8e9b43.json

# Node modules (inside gee-server)
gee-server/node_modules/

# Optional: logs and temp files
gee-server/npm-debug.log
